.short-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 0px;
  }

  .resizer {
    width: 15px;
    height: 15px;
    padding: 15px;
    background-color: #42a5f5;
    clip-path: polygon(34% 36%,100% 47%,25% 100%);
  }
}