<div #dialogContainer class="short-content" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <h1>Short Content</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, assumenda doloremque
    molestiae necessitatibus maxime ducimus quidem consectetur error inventore placeat voluptate
    eveniet fugiat? Asperiores itaque eum dignissimos? Obcaecati, a officiis. Perspiciatis nobis
    harum porro explicabo, corrupti dolor hic minus sunt consequatur nostrum voluptates pariatur sit
    repellat illo unde quod! Adipisci, soluta ex. Ex recusandae, soluta repellendus saepe enim sequi
    perspiciatis. Fugiat nulla ipsa rem praesentium dolore, aspernatur nostrum similique eligendi,
    fuga eveniet quod sed hic, aperiam explicabo. Veritatis modi reiciendis rerum, velit maiores
    corporis, aut provident voluptate dolorum, minus nihil! Eaque quam quasi iure laboriosam nisi
    molestias culpa illo quae, nostrum autem cum voluptatum? Voluptatem repellat corrupti eum autem
    a possimus adipisci odio animi fuga! Quae dolores ipsam voluptatibus tempora. Aperiam dicta
    architecto laudantium exercitationem inventore consequatur ad vitae debitis iure harum quaerat,
    vero maxime ipsa sequi quidem quisquam non aut corporis ab, odio aspernatur qui nesciunt
    accusantium. Deserunt, ratione!
  </p>

  <!-- Resizer handle -->
  <div class="resizer" (mousedown)="initResize($event)"></div>
</div>