<div class="short-content">
  <h1>Short content</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, voluptatibus minus. Optio,
    voluptatibus officia itaque iste, corrupti, repellendus sint illum possimus ipsa doloribus nemo
    soluta alias! Eius totam sapiente illum. Alias iste minus ratione veniam qui laboriosam facilis
    sequi, perspiciatis labore esse architecto sit nulla, ab fugiat enim aut, modi nihil dolorum
    similique excepturi illum! Praesentium minima autem vitae maiores! Iusto laboriosam blanditiis
    delectus magnam cum cupiditate alias, ipsa, illo voluptatibus molestiae molestias harum in?
    Laborum cumque ducimus animi doloribus optio error dolor sed provident cupiditate mollitia.
    Odit, minima iure.
  </p>
</div>
